@media (min-width: 1400px){
.container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 1320px;
}
}
@media (min-width: 1200px) and (max-width:1399px){
.container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1140px;
}
}
@media (min-width: 992px) and (max-width:1199px){
.container, .container-lg, .container-md, .container-sm {
    max-width: 960px;
}
}
@media (min-width: 768px) and (max-width:991px){
.container, .container-md, .container-sm {
    max-width: 720px;
}
}
@media (min-width: 576px) and (max-width:767px){
.container, .container-sm {
    max-width: 540px;
}
}
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-right: auto;
    margin-left: auto;
}
.container {
    position: relative;
    width: 100%;
    background-color: #fff;
    min-height: 100vh;
    overflow: hidden;
}


.table>thead{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}